.stage {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

body:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .3;
    z-index: -1;
    content: "";
    position: fixed;
    background: url(https://api.paugram.com/wallpaper/) center/cover;
}

.post-content a:hover, article a:hover, footer a:hover, .container a:hover {
    color: #2a6496;
}

.post-content a, article a, footer a, .container a {
    color: #7396a7;
    font-weight: 400;
    position: relative;
}

a[target="_blank"], a[target="_blank"] img {
    cursor: alias;
}

a:hover, a:focus {
    color: #1abc9c;
    text-decoration: none;
}

a:hover, a:focus {
    color: #2a6496;
    text-decoration: underline;
}

a:active, a:hover {
    outline: 0;
}

a {
    color: #16a085;
    text-decoration: none;
    -webkit-transition: .25s;
    transition: .25s;
}

a {
    color: #428bca;
    text-decoration: none;
}

a {
    background: 0 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.post-content p, .post-content li {
    font-size: 17px;
    letter-spacing: .6px;
}

.post-content p {
    clear: both;
    text-indent: 2em;
    margin-top: 15px;
}

p {
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 1.72222;
}

body {
    color: #606975;
    font-family: 'Josefin Sans Light', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "'Hiragino Sans GB", STHeiti, "Microsoft Yahei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", Arial, Verdana, sans-serif;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    font-weight: 400;
}

body {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.72222;
    color: #34495e;
    background-color: #fff;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

user agent stylesheet html {
    color: -internal-root-color;
}

@media (min-width: 768px) {
    a[target="_blank"]:hover::before {
        color: #404d5b;
        background-color: #f7f7f5;
        border: solid 1px;
        border-color: #e2e2e2;
        -webkit-transition-delay: 0s, 0s, 0s, 0.1s;
        transition-delay: 0s, 0s, 0s, 0.1s;
        -webkit-transform: scale(1) translateY(-75%);
        transform: scale(1) translateY(-75%);
        pointer-events: auto;
    }
    a[target="_blank"]::before {
        font-family: 'Flat-UI-Icons', 'Josefin Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "'Hiragino Sans GB", STHeiti, "Microsoft Yahei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", Arial, Verdana, sans-serif;
        font-size: 12px;
        font-weight: 600;
        content: "\e63c " attr(href);
        position: absolute;
        top: -50%;
        margin: 0;
        padding: 0 10px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        max-width: 800px;
        white-space: pre-wrap;
        word-break: break-all;
        -webkit-transition: opacity 0.3s, color 0.3s, -webkit-transform 0.3s, background-position 0.2s;
        transition: opacity 0.3s, color 0.3s, transform 0.3s, background-position 0.2s;
        transition-delay: 0s, 0s, 0s, 0s;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        background-color: transparent;
        line-height: 2em;
        color: transparent;
        pointer-events: none;
        text-shadow: none;
        text-indent: 0;
    }
}

a[target="_blank"], a[target="_blank"] img {
    cursor: alias;
}

:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    background-color: rgba(237, 230, 227, 0.9);
    color: #414141;
}

.donate-address {
    display: inline;
    position: fixed;
    font-size: 12px;
    right: 0;
    bottom: 0;
    margin-left: 5px;
    overflow: hidden;
    opacity: .6;
    transition: all .3s;
}

.donate-address:hover {
    opacity: 1;
}

.donate-address:before, .donate-address:after {
    content: "";
    pointer-events: none;
    position: absolute;
    left: 50%;
    min-width: 50vw;
    min-height: 50vw;
    background-color: #fff;
    opacity: .5;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.donate-address:before {
    top: 3.8vh;
    border-radius: 45%;
    animation-duration: 13s;
}

.donate-address:after {
    top: 2.7vh;
    opacity: .3;
    border-radius: 47%;
    animation-duration: 13s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }
    50% {
        transform: translate(-50%, -2%) rotateZ(180deg);
    }
    100% {
        transform: translate(-50%, 0%) rotateZ(360deg);
    }
}

@media (max-width: 768px) {
    .donate-address {
        display: none;
    }
}